body{
    padding-top: 40px;
}
p,textarea{
    padding: 0;
    margin: 0;
}
h1{
    color: rgb(199, 50, 38);
    padding-right: 30px;
    margin: 5px;
}
.chat_top{
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(199, 50, 38);
}
.chat{
    border-radius: 5px;
    border: solid 1px #858585;
    width: 330px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}
.chat p{
    color:#000;
}
.header{
    display: flex;
    justify-content: space-between;
}
header{
    border-bottom: solid 1px #858585;
    height: 50px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    z-index:97;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}
.h_left{
    font-size: 30px;
    color: rgb(199, 50, 38);
    margin: 0 20px 0 20px;
    font-family: 'Shippori Mincho B1', serif;
    border-bottom: solid 1px rgb(199, 50, 38);
}
.h_right{
    display: flex;
    align-items: center;
}
#messages{
    list-style: none;
    color: rgb(199, 50, 38);
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}
.contents{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.fuda{
    height: 130px;
    width: 80px;
    animation: rotate 2s infinite;
}
@keyframes rotate {
    0% {
        width: 80px;
        filter: none;
    }
    25%{
        filter: none;
        width: 0px;
        padding-left: 40px;
        
    }
    26%{
        filter: brightness(0) invert(0);
    }
    50%{
        width: 80px;
        padding: 0;
    }
    75%{
        filter: brightness(0) invert(0);
        width: 0px;
        padding-left: 40px;
    }
    76%{
        filter: none;
    }
}
.js-modal-open{
    margin-right: 10px;
    height: 25px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(185, 48, 48);
    cursor: pointer;
    z-index: 98;
    font-family: 'Shippori Mincho B1', serif;
}
.js-modal-open:hover{
    color: rgb(185, 48, 48);
    background-color: #fff;
    border: solid 1px rgb(185, 48, 48);
}
.js-modal-open:active{
    transform: scale(0.9,0.9);
}
.js-modal-close-btn{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top:3px;
    right: 3px;
    background-color: rgb(185, 48, 48);
    color:#fff;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Shippori Mincho B1', serif;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 60%;
    overflow-y:scroll;
    border-radius: 10px;
}
.yaku{
    display: flex;
    margin: 5px;
    border: 1px solid #000;
    align-items: center;
}
.yaku_images{
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.yaku_image{
    height: 26%;
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}
.yaku_moji{
    color: #000;
    width: 30%;
    padding: 5px;
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
}